# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Environments
.venv/
venv/
ENV/
env/

# Editor & IDE
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Test & Temp outputs
*.png
*.pdf
!tests/assets/*.pdf
temp/
scratch/
